---

---

<a class="dev" href="https://vk.com/monikossa" target="_blank" rel="nofollow">
  <div>dev</div>
  <div>by</div>
  <div>monikossa</div>
</a>

<style lang="scss">
  .dev {
    display: flex;
    flex-flow: column;
    justify-content: flex-end;
    width: 3.3rem;
    aspect-ratio: 1;
    padding: .5ch;
    border: 2px solid #000;
    color: #000;
    text-transform: uppercase;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-size: .5em;
    text-decoration: none;
  }
</style>