---
import Unica from "@/layouts/Unica.astro";
import Stats from "@/components/Stats.astro";
import Advantages from "@/components/Advantages.astro";
import Customers from "@/components/Customers.astro";
import Section from "@/components/Section.astro";
import Hero from "@/components/Hero.astro";
import HeroList from "@/components/HeroList.astro";
import Geo from "@/components/Geo.astro";
import References from "@/components/References.astro";
import Banner from "@/components/Banner.astro";
import Services from "@/components/Services.astro";
import Contacts from "@/components/Contacts.astro";
---

<Unica className="+homepage">
  <Section className="+hero">
    <Fragment slot="start">
      <Hero />
    </Fragment>
    <Fragment slot="end">
      <HeroList />
    </Fragment>
  </Section>

  <Section>
    <Fragment slot="start">
      <header>
        <h2>кто мы</h2>
      </header>
    </Fragment>
    <Fragment slot="end">
      <h3>УНИКА инжиниринг</h3>
      <p>
        АО «УНИКА инжиниринг» – Российская компания, предоставляющая полный
        комплекс услуг (разработка концептуальных решений, проектирование,
        получение согласований, строительство и ввод в эксплуатацию) для
        объектов здравоохранения, зданий промышленного и административного
        назначения.
      </p>
      <p>
        Компания «УНИКА инжиниринг» ведет свою историю с 2007 года. С самого
        начала своей деятельности, объединив специалистов с многолетним
        международным опытом проектирования инженерных систем, технологических и
        строительных решений, «УНИКА инжиниринг» зарекомендовала себя как
        надежный и профессиональный подрядчик и партнер на рынке проектирования
        и создания комплексов с повышенными требованиями безопасности и чистоты.
      </p>
    </Fragment>
  </Section>

  <Section>
    <Stats />
  </Section>

  <Section>
    <Fragment slot="start">
      <header>
        <h2>почему выбирают нас?</h2>
      </header>
    </Fragment>
    <Fragment slot="end">
      <Advantages />
    </Fragment>
  </Section>

  <Section>
    <Fragment slot="start">
      <header>
        <h2>география</h2>
      </header>
    </Fragment>
    <Fragment slot="end">
      <Geo />
    </Fragment>
  </Section>

  <Section>
    <Customers />
  </Section>

  <Section>
    <Banner>
      <p>
        <mark>«УНИКА инжиниринг»</mark> зарекомендовала себя как надежный и профессиональный
          подрядчик и партнер на рынке проектирования и создания комплексов с
        повышенными требованиями безопасности и чистоты.
      </p>
    </Banner>
  </Section>

  <Section>
    <Fragment slot="title">
      <header>
        <h2>услуги</h2>
      </header>
    </Fragment>
    <Services/>
  </Section>

  <Section>
    <Banner inverse>
      <p>
        Каждый клиент уникален и очень важен для нас.
      </p>
    </Banner>
  </Section>

  <Section>
    <Fragment slot="start">
      <header>
        <h2>референции</h2>
      </header>
    </Fragment>
    <Fragment slot="end">
      <References />
    </Fragment>
  </Section>

  <Contacts/>
</Unica>
