---
import Unica from "@/layouts/Unica.astro";
import Section from "@/components/Section.astro";
import Banner from "@/components/Banner.astro";
import Contacts from "@/components/Contacts.astro";
---

<Unica>
  <Section>
    <Fragment slot="start">
      <header>
        <h1 transition:name="service-title-3">проектирование</h1>
      </header>
    </Fragment>
    <Fragment slot="end">
      <img
        src="/images/service/design.jpg"
        transition:name="service-image-3"
        alt=""
      />
      <p>
        «УНИКА инжиниринг» разрабатывает все стадии проектной документации, а
        именно:
      </p>
      <ul>
        <li>предпроектная подготовка;</li>
        <li>концептуальный проект</li>
        <li>
          документация стадии ПД (с согласованием в Государственных надзорных
          органах и экспертизе);
        </li>
        <li>рабочая документация РД;</li>
        <li>авторский надзор;</li>
        <li>исполнительная документация.</li>
      </ul>
      <p>
        «УНИКА инжиниринг» располагает своей проектной группой и командой
        инженеров-технологов.
      </p>
      <p>
        На всех стадиях проекта мы гарантируем использование современных
        технологических решений, соответствующих действующим Российским,
        европейским стандартам и правилам, с применением оптимальных
        архитектурных и инженерных решений.
      </p>
      <p>
        Специалисты нашей компании при работе над каждым проектом учитывают все
        особенности данного объекта и условия его последующей эксплуатации.
      </p>
    </Fragment>
  </Section>

  <Section>
    <Banner>
      <p>
        <mark>Autodesk Revit</mark> – программный продукт, основанный на технологии
        информационного моделирования зданий (BIM) и объединяющий в рамках
        единого комплексного решения инструменты для архитектурного
        проектирования, проектирования инженерных систем зданий и строительных
        конструкций. 
      </p>
      <p>
        Использование программы Revit для работы над единым
        проектом всех проектировщиков, обеспечивает высокое качество и точность
        выполнения проектов. Программа, основанная на технологии информационного
        моделирования зданий (BIM), помогает точно сформулировать проектные идеи
        и придерживаться их на всех этапах проектирования, создания документации
        и строительства.
      </p>
    </Banner>
  </Section>

  <Contacts/>
</Unica>
