---

---

<ul class="unica-geo +zero-padding">
  <li>
    <div class="_image">
      <img src="/images/geo/flag-rus.jpg" />
    </div>
    <div class="_name">Россия</div>
  </li>
  <li>
    <div class="_image">
      <img src="/images/geo/flag-kz.png" />
    </div>
    <div class="_name">Казахстан</div>
  </li>
  <li>
    <div class="_image">
      <img src="/images/geo/flag-georgia.png" />
    </div>
    <div class="_name">Грузия</div>
  </li>
</ul>

<style lang="scss">
  .unica-geo {
    list-style: none;
    margin: 0;
    padding: 0;

    @media (width < 768px) {
      display: grid;
      grid-auto-rows: minmax(0, 1fr);
    }

    li {
      display: grid;
      grid-template-columns: repeat(2, minmax(0, 1fr));
      
      overflow: clip;

      @media (width > 768px) {
        height: 33vh;

        &:not(:last-child) {
          border-bottom: 1px solid var(--unica-color-divider);
        }
      }
    }

    li:nth-child(odd) {
      ._name {
        order: -1;

        @media (width > 768px) {
          border-right: 1px solid var(--unica-color-divider);
        }
      }
    }

    li:nth-child(even) {
      ._image {
        @media (width > 768px) {
          border-right: 1px solid var(--unica-color-divider);
        }
      }
    }

    ._name {
      display: flex;
      align-items: center;
      justify-content: center;
      font-size: var(--unica-fz-2);
      font-weight: 500;
      text-align: center;
    }

    ._image {
      display: flex;
      align-items: center;
      justify-content: center;

      img {
        width: auto;
        max-width: 200px;
        max-height: 150px;
        border: 1px solid var(--unica-color-divider);
      }
    }
  }
</style>
