---

---

<header class="unica-header" transition:animate="none">
  <div class="_grid">
    <div class="_cell unica-header__logo">
      <img class="_logo" src="/images/logo/logo-main.png" loading="lazy" />
    </div>
    <div class="_cell"></div>
    <div class="_cell">Услуги</div>
    <div class="_cell">Лицензии</div>
    <div class="_cell">Заказчики</div>
    <div class="_cell">Вакансии</div>
    <div class="_cell">Контакты</div>
  </div>
</header>

<style lang="scss">
  .unica-header {
    position: sticky;
    top: 0;
    z-index: 5;
    height: var(--unica-header-height);
    border-bottom: 1px solid var(--unica-color-divider);
    background: var(--unica-color-surface-0);

    @media (width < 641px) {
      display: none;
    }

    &__logo {
      display: flex;
      align-items: center;
      justify-content: center;
      grid-column: span 2;
      padding: 0;

      :global(.\+homepage) & {
        opacity: 0;
        transform: translateY(10%);
        transition:
          opacity 0.25s,
          transform 0.25s;
      }

      :global(.\+showLogo) & {
        opacity: 1;
        transform: translateY(0%);
      }

      img {
        width: auto;
        max-height: 30px;
      }
    }

    ._cell {
      font-size: 1vw;
      font-weight: 500;
    }
  }
</style>
