---

---

<div class="unica-hero">
  <div
    class="_hero-logo"
    x-intersect:enter="showLogo = false"
    x-intersect:leave="showLogo = true"
  >
    <img
      class="unica-hero__logo "
      src="/images/logo/logo-poster.png"
    />
  </div>
  <hr />
  <div class="_line-1">Основа репутации</div>
  <div class="_line-2">– это качество наших работ</div>
</div>

<style lang="scss">
  .unica-hero {
    text-align: left;
    &__logo {
      max-width: 300px;
    }

    ._line-1 {
      font-size: var(--unica-fz-25);
      font-weight: 500;
    }

    ._line-2 {
      font-size: var(--unica-fz-25);
      font-weight: 300;
    }
  }
</style>
