---
import type { HTMLAttributes } from "astro/types";

interface Props extends HTMLAttributes<"section"> {
  className?: string;
}
const { className } = Astro.props;
---

<section
  class:list={["unica-section", className]}
  x-data="{show: false}"
  x-intersect:enter="show = true"
  x-intersect:leave="show = false"
  :class="{'+intersect': show === true}"
>
  {
    Astro.slots.has("title") && (
      <header class="unica-section__part +title">
        <slot name="title" />
      </header>
    )
  }

  {
    Astro.slots.has("start") && (
      <div class="unica-section__part +start">
        <slot name="start" />
      </div>
    )
  }
  <slot />
  {
    Astro.slots.has("end") && (
      <div class="unica-section__part +end">
        <slot name="end" />
      </div>
    )
  }
</section>

<style lang="scss">
  .unica-section {
    display: grid;
    grid-template-columns: minmax(0, 1fr) minmax(0, 1fr);
    align-items: start;
    border-bottom: 1px solid var(--unica-color-divider);
    overflow: clip;

    @media (width < 768px) {
      display: grid;
      grid-template-columns: 100%;
    }

    &__part {
      &.\+start {
        padding: var(--unica-padding-5);

        @media (width < 786px) {
          :not(.\+hero) > & {
            position: sticky;
            top: 0;
            z-index: 5;
          }
        }

        @media (width > 768px) {
          position: sticky;
          top: var(--unica-header-height);
          text-align: right;
        }

        :global(header) {
          font-size: var(--unica-fz-3);
        }
      }

      &.\+end {
        padding: var(--unica-padding-5);

        @media (width > 768px) {
          border-left: 1px solid var(--unica-color-divider);

          &:has(.\+zero-padding) {
            padding: 0;
          }
        }
      }

      &.\+title {
        grid-column: 1/-1;
        padding: var(--unica-padding-5);
        text-align: center;

        @media (width < 786px) {
          position: sticky;
          top: 0;
          z-index: 5;
        }

        @media (width > 786px) {
          border-bottom: 1px solid var(--unica-color-divider);
        }

        :global(header) {
          font-size: var(--unica-fz-3);
        }
      }
    }
  }
</style>
