---
import Unica from "@/layouts/Unica.astro";
import Section from "@/components/Section.astro";
import Contacts from "@/components/Contacts.astro";
---

<Unica>
  <Section>
    <Fragment slot="start">
      <header>
        <h1 transition:name="service-title-1">управление проектами</h1>
      </header>
    </Fragment>
    <Fragment slot="end">
      <img src="/images/service/project-management.jpg" transition:name="service-image-1" alt="">
      <p>Компания «УНИКА инжиниринг» готова взять на себя управление проектом на любом этапе его реализации:</p>
      <ul>
        <li>подготовка ТЗ на проектирование;</li>
        <li>подготовка и проведение тендера на выбор проектной и подрядной организаций;</li>
        <li>согласование бюджета и составление графиков производства работ;</li>
        <li>операционный менеджмент на этапах проектирования и строительства.</li>
      </ul>
      <p>Мы максимально оптимизируем временные и финансовые расходы на проект и проследим за соблюдением всех технологических и проектных условий.</p>
      <p>Один из первых этапов работы на проекте – это управление проектированием. Так как на этом этапе закладываются все технические и архитектурные решения, то любая ошибка на данном этапе будет стоить Заказчику дополнительного времени и финансовых затрат на решение последующих проблем.</p>
      <p>Руководство проектом на этапе управления строительством - задача, решить которую даже профессионалу не под силу, если он работает один. По этой причине для каждого проекта мы формируем проектную команду, состоящую из людей, имеющих опыт аналогично реализованных проектов. В процессе управления строительством, мы часто предлагаем альтернативные варианты решения тех или иных задач, если считаем, что это ускорит сроки строительства или оптимизирует проект без ухудшения качественных характеристик.</p>
      <p>Финальная стадия завершения проекта регламентирует процесс передачи результата заказчику и оформления всех необходимых документов. Наши специалисты обеспечат процесс передачи Заказчику готового объекта в соответствии с существующими нормативами и правилами.</p>
    </Fragment>
  </Section>

  <Contacts/>
</Unica>