---
import Unica from "@/layouts/Unica.astro";
import Section from "@/components/Section.astro";
import Contacts from "@/components/Contacts.astro";
---

<Unica>
  <Section>
    <Fragment slot="start">
      <header>
        <h1 transition:name="service-title-2">чистые помещения</h1>
      </header>
    </Fragment>
    <Fragment slot="end">
      <img src="/images/service/clean-rooms.jpg" transition:name="service-image-2" alt="">
      <p>Компания «УНИКА инжиниринг» поставляет комплексы «чистых помещений». Особое внимание уделяется тщательному анализу технологии производства и бюджету, планировочным решениям, системе вентиляции и кондиционирования воздуха.</p>
      <p>Создание «чистого помещения» – это поиск оптимального решения, сочетающего выполнение всех российских и международных стандартов и правил для высокотехнологичных помещений с повышенными требованиями безопасности, чистоты и функциональной надежности.</p>
      <p>Компания «УНИКА инжиниринг» предлагает Вам разработку всех проектных решений, связанных с технологиями «чистых помещений», с подбором оптимальных технико-экономических решений по используемому оборудованию и материалам, как с позиции соотношения цена/качество, так и с учетом требований к помещению, эксплуатационных затрат и других соображений.</p>
      <p>В области поставок конструктивных элементов для «чистых помещений» компания «УНИКА инжиниринг» имеет партнёрские отношения с рядом ведущих европейских производителей.</p>
    </Fragment>
  </Section>

  <Contacts/>
</Unica>